.grid-container {
  display: grid;
  grid-template-columns: repeat(6, 1fr); /* Crea 3 columnas de igual ancho */
  grid-gap: 10px; /* Espacio entre las celdas */
}

.grid-item {
  background-color: #FFFFFF;
  padding: 10px;
}

.grid-item:last-child {
  grid-column-start: 3; /* La última celda comenzará en la columna 3 */
}

.grid-itemFinally {
  grid-column-start: 3; /* El cardOne comenzará en la columna 3 */
}

.cardOne {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: auto;
  border-radius: 14px;
  background-color: #0D258F; /* Color de fondo principal donde va el nombre de la categoria*/
  cursor: pointer;
  overflow: hidden;
  transition: transform 0.3s ease;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3); /* Borde sombreado alrededor */
}

.cardOne:hover {
  transform: scale(1.05); /* Efecto de escala al pasar el cursor */
}

.cardOne::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.2); /* Color de superposición */
  mix-blend-mode: overlay;
  pointer-events: none;
  transition: opacity 0.3s ease;
  opacity: 0;
}

.cardOne:hover::before {
  opacity: 1; /* Opacidad de la superposición al pasar el cursor */
}

.cardOne img {
  width: 200%;
  max-height: 200px;
  object-fit: cover;
  border-radius: 10px;
  filter: brightness(0.9); /* Nivel de brillo de la imagen */
}

.cardOne h1 {
  text-align: center;
  margin-top: 10px;
  font-size: 18px;
  color: #fff; /* Color del texto */
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3); /* Sombra del texto */
}

.card-content {
  padding: 16px;
}
  