.grid-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* Crea 3 columnas de igual ancho */
  grid-gap: 10px; /* Espacio entre las celdas */
}

.grid-item {
  background-color: #ccc;
  padding: 20px;
}